*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url(./images/yamaha.jpg);
    background-position: center;
    background-size: cover;
    
}

.navbar{
    display: flex;
    height: 12%;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
     height: 100px;
     width: 150px;
}
nav ul {
    list-style: none;
}
nav ul li a {
    color: #fff;
    text-decoration: none;

}